*{
    font-family: 'Segoe UI';
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: gray;
    margin: 0px 25px;
    /* font-size: large; */
    font-weight: 500;
}
#underline{
    text-decoration: underline;
}
nav button{
    background: rgb(255, 255, 255);
    height: 30px;
    border: none;
    width: 88px;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: small;
    margin-right: -68px;


}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
    margin-bottom: 100px;

    
}
nav div{
    display: flex;
    align-items: center;
}
#imgnav{
    position: absolute;
    top: 0px;
    z-index: -1;
}
#section1 div b{
    color: #212529; 
    font-size:53px;
    line-height: 79px;
    font-weight: 600;
    font-family: 'Varela Round';

}
#section1 div p{
    line-height: 41px;
    font-size:27px;
    /* font-family:  -apple-system ; */
    font-weight: 100;
}
#s1img{
    margin-bottom: 100px;
}
#s1img #img1 , #img2, #img3, #img4{
    position: absolute;
}
#img1{
    top: 8%;
    left: 55%;
    width: 45%;
    height: 670px;
}
#img2{
    top: 90px;
    right: 220px;
}
#img3{
    left: 0px;
    z-index: 1;
    top: 550px;
    /* opacity: 1.5; */
    /* height: 110px; */
}
#img4{
    top: 469px;
    right: 157px;
}
#section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 470px;

}
#section2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    margin-left: 160px;
    /* height: 150vh; */
}


#section2 div{
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 350;
}
#section2 div b{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: -15px;
}

#s2_2 ,#s2_3{
    display: flex;
}
#s2_2 div , #s2_3 div{
    display: flex;
    flex-direction: column;
   width: 410px; 
   text-align: center;
}

#s2_3{
    justify-content: space-around;
}
#group{
    align-items: center;
}
#s2_1{
    margin-left: 90px;
}
#abs{
    color: rgb(0, 47, 255) ;
    display: flex;
    align-items: start;
    position: absolute;
    left: 250px;
    bottom:-730px ;
    z-index: 1;
    
}
#section3{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}
